@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/fontawesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/solid.min.css');

$light-color: #f9fafb;
$white-color: #ffffff;
$black-color: #282828;
$success-color: #2ecc71;
$error-color: #e74c3c;

$dark-bg-color: #091921;
$light-bg-color: #247197;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px,  10px/16px = 62.5% */
}
body {
  font-size: 1.6rem;
  color: $black-color;
  background-color: $light-color;
  font-family: 'Open Sans', sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: $light-bg-color;
}

[data-theme='dark'] {
  background-color: $dark-bg-color;
  .clock {
    background-color: transparent;
    border: 8px solid #091921;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
      inset 0 -15px 15px rgba(255, 255, 255, 0.05),
      0 15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
    &:before {
      background: $white-color;
      border: none;
    }
  }
  .hour .hr:before {
    background: #ff105e;
  }
  .min .mn:before {
    background: $light-color;
  }
  .sec .sc:before {
    background: $light-bg-color;
  }
}
